@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 249, 247, 245;
    --background-end-rgb: 255, 255, 255;

    --font-playfair-display: 'Playfair Display', serif;
    --font-inter: 'Inter', sans-serif;
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(to bottom,
            transparent,
            rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
    font-family: var(--font-inter);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-playfair-display);
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}